html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.nav {
  background-color: #383838;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #d35266;
  vertical-align: middle;
  background-image: url("https://img.icons8.com/dotty/80/000000/search.png");
  background-repeat: repeat-y;
  background-position: 0%;
}

.title {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.sec-disp {
  background-color: #888888;
}

.borders {
  border-bottom: 1px solid #9e9a9a;
}

.form-elts {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .nav {
    font-size: 8px;
  }

  .nav button {
    width: 200px;
  }

  .form-elts {
    display: flex;
    text-align: center;
    width: 100%;
  }

  .form-elts input {
    width: 80%;
  }

  .ads {
    font-size: 10px;
  }
}

@media only screen and (max-width: 437px) {
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}